extends layout

block content

  div.container.row

    each company in data

      div.company-container.col.shadow

        div.company-name !{utility.highlightSearch(company.name, searched)}
        
        div.company-job-title !{utility.highlightSearch(company.job_title, searched)}

        div.body-container
          p !{utility.highlightSearch(company.description, searched)}

        div.screenshot-container
          img(loading=lazy src=company.screenshots class="company-screenshot")

        div.employment-dates #{utility.getMonthYear(company.start_date)} - #{utility.getMonthYear(company.end_date)}