doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Chris Corchado - Portfolio and Resume')

    link(rel='shortcut icon', type='image/x-icon', href='https://chriscorchado.com/images/chrisCorchado.ico')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')

    if needs_lighbox
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.css')

    link(rel='stylesheet', href='/css/chriscorchado.css')

    if page_name == 'home' || page_name == 'index'
      link(rel='stylesheet', href='/css/header/profile.css')
      link(rel='stylesheet', href='/css/pages/home.css')

    if page_name == 'contact'
      link(rel='stylesheet', href='/css/header/profile.css')
      link(rel='stylesheet', href='/css/pages/contact.css')

    if page_name == 'company'
      link(rel='stylesheet', href='/css/pages/company.css')

    if page_name == 'course'
      link(rel='stylesheet', href='/css/pages/course.css')

    if page_name == 'project'
      link(rel='stylesheet', href='/css/pages/project.css')

    if page_name == 'resume'
      link(rel='stylesheet', href='/css/pages/resume.css')
      link(rel='stylesheet', href='/css/header/profile.css')

    if page_name !== 'home' && page_name !== 'contact' && page_name !== 'resume'
      link(rel='stylesheet', href='/css/header/search.css')
      link(rel='stylesheet', href='/css/header/pagination.css')

  body

    a#skip-links.screen-reader(href='#content' style='position: absolute;left: -10000px;top: auto;width: 1px;height: 1px;overflow: hidden;') Skip Navigation

    header#navigation

      nav.navbar.navbar-light.bg-light.fixed-top.navbar-fixed-top.shadow(aria-label="navigation-outer-wrapper")
        div#user-message
        div#navbar-collapse.navbar-collapse(aria-label="navigation-collapse-wrapper")
          div#navbar-nav.navbar-nav.show(role='navigation' aria-label='Navigation')

            a#logo.navbar-brand(href='index')
              img#logo-image(loading='lazy' src='https://chriscorchado.com/images/chriscorchado-initials-logo.png' title='Home' alt='Chris Corchado Logo')

            a#companies-link.nav-item.nav-link(href='companies') Work
            a#courses-link.nav-item.nav-link(href='courses') Courses
            a#projects-link.nav-item.nav-link(href='projects') Projects
            a#contact-link.nav-item.nav-link(href='contact') Contact

          div#profiles

          if page_name !== 'home' && page_name !== 'contact' && page_name !== 'resume'
            - let paginationClass = 'pagination-no'

            if count == 50 || page > 1
              - paginationClass = 'pagination-yes'

            form#search-container(role='search' class=paginationClass accept-charset='UTF-8' method='get' onsubmit='return false')

              span#search-count(aria-live="polite")
                span#paging-info

              label(for='search-site')
                span.screen-reader Enter search term
                input#search-site(type='search' name='search_api' aria-label='Enter search term' aria-required='true' placeholder='Search items' maxlength='128' class='cc-btn search-btn')

              label(for='search-submit')
                span.screen-reader Search
                button#search-submit.search-btn(type='submit' aria-label='Search' value='Search' role='button') Search

              label(for='search-clear-btn')
                span.screen-reader Clear Search
                button#search-clear-btn.search-btn(type='reset' aria-label='Clear Search' title='Clear search' value='Clear' role='button') Clear

              - let checkPager = page > 1 || ((count == maxItemsPerPage) && (page > 0))
              if checkPager

                div#pagination

                  if page > 1
                    a.pager-navigation(href='#' id='prevLink' title='View the previous page' role='button') Prev
                  else
                    span.pager-navigation.disabled(title='There is no previous page available' role='button') Prev

                  if  ((count == maxItemsPerPage) && (page > 0))
                    a.pager-navigation(href='#' id='nextLink' title='View the next page' role='button') Next
                  else
                    span.pager-navigation.disabled(title='There is no next page available' role='button') Next

    // CONTENT
    if count > 0

      main(role='main')

        block content

        span#paging(data-first=first data-last=last)
        span#recordCount #{count}

    if needs_lighbox
      script(src='https://code.jquery.com/jquery-3.5.0.min.js')
      script(src='https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js')
      script(src='https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js')
      script(src='/js/lightboxConfig.js')

    script(src='/js/chriscorchado.js' type='module')
    script(src='/js/utilities.js' type='module')
    script(src='/js/search.js' type='module')

    footer(id='footer')
      div.site-version(aria-label='Icons of the technology used on this site and link to Github')

        div
          img(loading='lazy' alt='nodeJS Icon' title='nodeJS for the platform'  src='https://chriscorchado.com/images/nodejs.png')

        div
          img(loading='lazy' alt='Express Icon' title='Express for the backend framework'  src='https://chriscorchado.com/images/express.png')

        div
          img(loading='lazy' alt='mongoDB Icon' title='mongoDB for the database'  src='https://chriscorchado.com/images/mongodb.png')

        div
          img(loading='lazy' alt='mongoose Icon' title='mongoose to connect to the mongoDB database'  src='https://chriscorchado.com/images/mongoose.png')

        div
          img(loading='lazy' alt='TypeScript Icon' title='TypeScript for Javascript functionality'  src='https://chriscorchado.com/images/typescript.png')

        div
          img(loading='lazy' alt='Sass Icon' title='SASS for the CSS look and feel styles'  src='https://chriscorchado.com/images/sass.png')

        div
          img(loading='lazy' alt='pugjs Icon' title='Pug for the HTML content templates'  src='https://chriscorchado.com/images/pugjs.png')

        div
          img(loading='lazy' alt='HTML5 Icon' title='HTML5 for overall structure'  src='https://chriscorchado.com/images/html5.png')

        div
          a(href='https://github.com/chriscorchado125/NodeJS' target='_blank' rel='noopener' title='Opening a new window')
            img(loading='lazy' alt='Github Icon' title='View the code on GitHub'  src='https://chriscorchado.com/images/github.jpg')
