extends layout

block content

  div.container.project-container.row

   - let counter = 20

    each project in data

      div.project.col

        div.project-title(tabindex=counter++) !{utility.highlightSearch(project.name, searched)}
        
        div.project-company(tabindex=counter++) !{utility.highlightSearch(project.company_name, searched)} #[span.project-date (#{project.project_date.getFullYear()})] 

        div.body-container(tabindex=counter++) !{utility.highlightSearch(project.description, searched)}

        - var cleanProjectName = project.name.replace(/(<([^>]+)>)/gi, '')
        section(class=`project-item-grid project-items${project.screenshots.length}` data-featherlight-gallery="" data-featherlight-filter="a")

          each screenshot in project.screenshots
            - var screens = screenshot.split(',')

              div.project-item.shadow(title=cleanProjectName)
                
                a.gallery(href=screens[1] tabindex=counter++)
                  div.project-item-desc !{utility.highlightSearch(screens[0], searched)}
                  img(loading="lazy" tabindex=counter++ src=screens[1] alt=project.company_name + ' ' + screens[0] title=screens[0])
 
        if project.video
          span(title="Play Video")
            - let encodedName = encodeURIComponent(project.name);
            a.play-video(href=`https://chriscorchado.com/video.html?url=${project.video}&name=${encodedName}` target="_blank" tabindex=counter++) Play Video 
              img(loading="lazy" src="https://chriscorchado.com/images/play_video_new_window_icon.png" alt="Play Video Icon" width="20")


        div.project-technology(tabindex=counter++) !{utility.highlightSearch(project.technology, searched)}
